In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pandas.plotting import scatter_matrix

In [2]:
# Changing working Directory
import os
os.chdir('D:\\J0$0Ns DataSets\\Employee Attrition_Prediction\\Dataset')

In [3]:
train_df=pd.read_csv('Train.csv')
test_df=pd.read_csv('Test.csv')

In [4]:
train_df.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          412
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
Attrition_rate                 0
dtype: int64

In [5]:
test_df.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

## Null Values present in following 6 Features:
 [Age, Time_of_service, Pay_Scale, Work_Life_balance, VAR2, VAR4]

In [6]:
# for Displaying all Columns
# This will make it easier to see & Understand Data.
pd.set_option('display.max_columns', None)

# ------------------------------------------

# ------------------------------------------

# Converting Compensation_and_Benifits into numeric column

In [7]:
test_df.Compensation_and_Benefits.unique()

array(['type2', 'type3', 'type0', 'type4', 'type1'], dtype=object)

In [8]:
# Changing Compensation_and_Benifits to numerical values in training data
train_df['Compensation_and_Benefits']=train_df['Compensation_and_Benefits'].apply(lambda x: 0 if x=='type0' else x)
train_df['Compensation_and_Benefits']=train_df['Compensation_and_Benefits'].apply(lambda x: 1 if x=='type1' else x)
train_df['Compensation_and_Benefits']=train_df['Compensation_and_Benefits'].apply(lambda x: 2 if x=='type2' else x)
train_df['Compensation_and_Benefits']=train_df['Compensation_and_Benefits'].apply(lambda x: 3 if x=='type3' else x)
train_df['Compensation_and_Benefits']=train_df['Compensation_and_Benefits'].apply(lambda x: 4 if x=='type4' else x)

In [9]:
# Changing Compensation_and_Benifits to numerical values in test data
test_df['Compensation_and_Benefits']=test_df['Compensation_and_Benefits'].apply(lambda x: 0 if x=='type0' else x)
test_df['Compensation_and_Benefits']=test_df['Compensation_and_Benefits'].apply(lambda x: 1 if x=='type1' else x)
test_df['Compensation_and_Benefits']=test_df['Compensation_and_Benefits'].apply(lambda x: 2 if x=='type2' else x)
test_df['Compensation_and_Benefits']=test_df['Compensation_and_Benefits'].apply(lambda x: 3 if x=='type3' else x)
test_df['Compensation_and_Benefits']=test_df['Compensation_and_Benefits'].apply(lambda x: 4 if x=='type4' else x)

# ------------------------------------

# ------------------------------------

# Converting Relationship Status to Numerical

In [10]:
# There is only 2 uniques in Relationship status
test_df.Relationship_Status.unique()

array(['Single', 'Married'], dtype=object)

In [11]:
# Lets Create a new Column called Married where it will be 1 if married and 0 if single
train_df['Married']=train_df['Relationship_Status'].apply(lambda x: 1 if x=='Married' else 0)
test_df['Married']=test_df['Relationship_Status'].apply(lambda x: 1 if x=='Married' else 0)

In [12]:
# Since we created a new column, we dont need Relationship_Status as it will cause multicoliniarity. So lets drop it.

train_df.drop('Relationship_Status',axis=1,inplace=True)
test_df.drop('Relationship_Status',axis=1,inplace=True)

# -----------------------------------

# -----------------------------------

# Converting Gender to Numeric Column

In [13]:
test_df.Gender.unique()

array(['F', 'M'], dtype=object)

In [14]:
# Converting the column to Binary values
train_df['Gender']=train_df['Gender'].apply(lambda x: 1 if x=='M' else 0)
test_df['Gender']=test_df['Gender'].apply(lambda x: 1 if x=='M' else 0)

# -----------------------------------

# -----------------------------------

# Let us begin with Missing Value Imputation

Let us do Age column last.. as it has more missing values

Other Missing values are:
1. Time of Service [44 Unique Values]
2. Pay Scale [10 Unique Values]
3. Work Life Balance [5 Unique Values]
4. Var 2 [5 Unique Values]
5. Var 4 [3 Unique Values]

In [15]:
# Lets make all column names lower case
"""So that we can access all the columns easily"""
train_df.columns = [i.lower() for i in train_df.columns]
test_df.columns  = [i.lower() for i in test_df.columns]

# Lets Start working on Work life balance
Because it has less Unique values and very few null values

# After a lot of Permutation combination we find that best choice to replace nan values of Work_life balance is 3

In [16]:
# Missing value Imputation of work_life_balance

train_df['work_life_balance'].fillna(3, inplace=True)
test_df['work_life_balance'].fillna(3, inplace=True)

# -------------------------------

# -------------------------------

# Lets work on Pay_scale missing value imputation next

In [17]:
# Making a series of only numerical Column names so as to make it easy for finding correlations and so on
num_col=pd.DataFrame(train_df.columns)
num_col=num_col.drop([0,4,5,6])
num_col.reset_index(inplace=True)
num_col.drop('index',axis=1,inplace=True)
num_col

                            0
0                      gender
1                         age
2             education_level
3             time_of_service
4        time_since_promotion
5                 growth_rate
6                 travel_rate
7                  post_level
8                   pay_scale
9   compensation_and_benefits
10          work_life_balance
11                       var1
12                       var2
13                       var3
14                       var4
15                       var5
16                       var6
17                       var7
18             attrition_rate
19                    married

# As the mode of pay_scale is 8, lets impute missing value with the same

In [18]:
# Missing value Imputation of pay_scale

train_df['pay_scale'].fillna(8, inplace=True)
test_df['pay_scale'].fillna(8, inplace=True)

# --------------------------------

# -------------------------------

# Lets Start working on missing value imputation of var2 column

# As best mode for var2 = 0.7516, let us impute the same for nan values

In [19]:
train_df['var2'].fillna(0.7516, inplace=True)
test_df['var2'].fillna(0.7516, inplace=True)

# ---------------------------------------

# ----------------------------------------

# Lets Start working on missing value imputation of var4 column

# As best mode for var4 = 2, let us impute the same for nan values

In [20]:
train_df['var4'].fillna(2, inplace=True)
test_df['var4'].fillna(2, inplace=True)

# --------------------------------------

# --------------------------------------

# Lets Start working on missing value imputation of Time of Service column

# Since Age and Time of Service have high colliniarity, we will use that to predict nan values in Time of service

In [21]:
# Creating bins of age for easier working in train_df

train_df['age_bins']=train_df['age']
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 1 if x<=25.0 else x)
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 2 if (x>=25.0) & (x<=30.0) else x)
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 3 if (x>=30.0) & (x<=40.0) else x)
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 4 if (x>=40.0) & (x<=50.0) else x)
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 5 if (x>=50.0) & (x<=60.0) else x)
train_df['age_bins']=train_df['age_bins'].apply(lambda x: 6 if (x>60.0) else x)

In [22]:
# Creating bins of age for easier working in test_df

test_df['age_bins']=test_df['age']
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 1 if x<=25.0 else x)
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 2 if (x>=25.0) & (x<=30.0) else x)
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 3 if (x>=30.0) & (x<=40.0) else x)
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 4 if (x>=40.0) & (x<=50.0) else x)
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 5 if (x>=50.0) & (x<=60.0) else x)
test_df['age_bins']=test_df['age_bins'].apply(lambda x: 6 if (x>60.0) else x)

### From above we see that mean for both test and train data is similar according to age bins and time of service

1. ==3
2. ==5
3. ==9
4. ==15
5. ==25
6. ==33

In [23]:
# We checked for mode and median as well and still best fit seems to be mean
# so lets replace nan values in each age_bin with their mean values for time_of_service

In [24]:
# Filling selective nan values of train_df with means we found before

mask1 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==1)
train_df.loc[mask1, 'time_of_service'] = train_df.loc[mask1, 'time_of_service'].fillna(3)

mask2 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==2)
train_df.loc[mask2, 'time_of_service'] = train_df.loc[mask2, 'time_of_service'].fillna(5)

mask3 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==3)
train_df.loc[mask3, 'time_of_service'] = train_df.loc[mask3, 'time_of_service'].fillna(9)

mask4 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==4)
train_df.loc[mask4, 'time_of_service'] = train_df.loc[mask4, 'time_of_service'].fillna(15)

mask5 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==5)
train_df.loc[mask5, 'time_of_service'] = train_df.loc[mask5, 'time_of_service'].fillna(25)

mask6 = (train_df['time_of_service'].isnull()) & (train_df['age_bins']==6)
train_df.loc[mask6, 'time_of_service'] = train_df.loc[mask6, 'time_of_service'].fillna(33)

In [25]:
# Filling selective nan values of test_df with means we found before

mask1 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==1)
test_df.loc[mask1, 'time_of_service'] = test_df.loc[mask1, 'time_of_service'].fillna(3)

mask2 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==2)
test_df.loc[mask2, 'time_of_service'] = test_df.loc[mask2, 'time_of_service'].fillna(5)

mask3 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==3)
test_df.loc[mask3, 'time_of_service'] = test_df.loc[mask3, 'time_of_service'].fillna(9)

mask4 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==4)
test_df.loc[mask4, 'time_of_service'] = test_df.loc[mask4, 'time_of_service'].fillna(15)

mask5 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==5)
test_df.loc[mask5, 'time_of_service'] = test_df.loc[mask5, 'time_of_service'].fillna(25)

mask6 = (test_df['time_of_service'].isnull()) & (test_df['age_bins']==6)
test_df.loc[mask6, 'time_of_service'] = test_df.loc[mask6, 'time_of_service'].fillna(33)

### There are some more missing values in time of service column, this is because age is also missing for those rows..... so lets find best values that fit them with permutation combination

### Lets fillna of remaining time of service with '5'

In [26]:
train_df['time_of_service'].fillna(5, inplace=True)
test_df['time_of_service'].fillna(5, inplace=True)

# ------------------------------------------

# -----------------------------------------

# Lets start working on missing value imputation of Age column

In [27]:
# Creating bins of time of service for easier working in train_df

train_df['tos_bins']=train_df['time_of_service']
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 1 if x<=5.0 else x)
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 2 if (x>5.0) & (x<=10.0) else x)
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 3 if (x>10.0) & (x<=20.0) else x)
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 4 if (x>20.0) & (x<=30.0) else x)
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 5 if (x>30.0) & (x<=40.0) else x)
train_df['tos_bins']=train_df['tos_bins'].apply(lambda x: 6 if (x>40.0) else x)

In [28]:
# Creating bins of time of service for easier working in test_df

test_df['tos_bins']=test_df['time_of_service']
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 1 if x<=5.0 else x)
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 2 if (x>5.0) & (x<=10.0) else x)
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 3 if (x>10.0) & (x<=20.0) else x)
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 4 if (x>20.0) & (x<=30.0) else x)
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 5 if (x>30.0) & (x<=40.0) else x)
test_df['tos_bins']=test_df['tos_bins'].apply(lambda x: 6 if (x>40.0) else x)

### From above we see that mean for both test and train data is similar according to tos_bins and age

1. ==24
2. ==32
3. ==45
4. ==55
5. ==60
6. ==65

In [29]:
# Filling selective nan values of train_df with means we found before

mask1 = (train_df['age'].isnull()) & (train_df['tos_bins']==1)
train_df.loc[mask1, 'age'] = train_df.loc[mask1, 'age'].fillna(24)

mask2 = (train_df['age'].isnull()) & (train_df['tos_bins']==2)
train_df.loc[mask2, 'age'] = train_df.loc[mask2, 'age'].fillna(32)

mask3 = (train_df['age'].isnull()) & (train_df['tos_bins']==3)
train_df.loc[mask3, 'age'] = train_df.loc[mask3, 'age'].fillna(45)

mask4 = (train_df['age'].isnull()) & (train_df['tos_bins']==4)
train_df.loc[mask4, 'age'] = train_df.loc[mask4, 'age'].fillna(55)

mask5 = (train_df['age'].isnull()) & (train_df['tos_bins']==5)
train_df.loc[mask5, 'age'] = train_df.loc[mask5, 'age'].fillna(60)

mask6 = (train_df['age'].isnull()) & (train_df['tos_bins']==6)
train_df.loc[mask6, 'age'] = train_df.loc[mask6, 'age'].fillna(65)

In [30]:
# Filling selective nan values of test_df with means we found before

mask1 = (test_df['age'].isnull()) & (test_df['tos_bins']==1)
test_df.loc[mask1, 'age'] = test_df.loc[mask1, 'age'].fillna(24)

mask2 = (test_df['age'].isnull()) & (test_df['tos_bins']==2)
test_df.loc[mask2, 'age'] = test_df.loc[mask2, 'age'].fillna(32)

mask3 = (test_df['age'].isnull()) & (test_df['tos_bins']==3)
test_df.loc[mask3, 'age'] = test_df.loc[mask3, 'age'].fillna(45)

mask4 = (test_df['age'].isnull()) & (test_df['tos_bins']==4)
test_df.loc[mask4, 'age'] = test_df.loc[mask4, 'age'].fillna(55)

mask5 = (test_df['age'].isnull()) & (test_df['tos_bins']==5)
test_df.loc[mask5, 'age'] = test_df.loc[mask5, 'age'].fillna(60)

mask6 = (test_df['age'].isnull()) & (test_df['tos_bins']==6)
test_df.loc[mask6, 'age'] = test_df.loc[mask6, 'age'].fillna(65)

# -------------------------------------------

# -------------------------------------------------

# Missing value Imputation is Complete

In [31]:
# Droping the age_bins and tos_bins columns... as they are created for specific reason
# Droping them will reduce multicolliniarity

train_df.drop(['age_bins','tos_bins'], axis=1,inplace=True)
test_df.drop(['age_bins','tos_bins'], axis=1, inplace=True)

In [32]:
train_df

,employee_id,gender,age,education_level,hometown,unit,decision_skill_possess,time_of_service,time_since_promotion,growth_rate,travel_rate,post_level,pay_scale,compensation_and_benefits,work_life_balance,var1,var2,var3,var4,var5,var6,var7,attrition_rate,married
0,EID_23371,0,42.0,4,Franklin,IT,Conceptual,4.0,4,33,1,1,7.0,2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841,1
1,EID_18000,1,24.0,3,Springfield,Logistics,Analytical,5.0,4,36,0,3,6.0,2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670,0
2,EID_3891,0,58.0,3,Clinton,Quality,Conceptual,27.0,3,51,0,2,8.0,2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851,1
3,EID_17492,0,26.0,3,Lebanon,Human Resource Management,Behavioral,4.0,3,56,1,3,8.0,2,1.0,3,-1.8176,-0.4537,2.0,3,7,3,0.0668,0
4,EID_22534,0,31.0,1,Springfield,Logistics,Conceptual,5.0,4,62,1,3,2.0,3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,EID_16328,0,23.0,5,Franklin,Operarions,Behavioral,4.0,1,20,1,2,6.0,3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839,1
6996,EID_8387,0,44.0,1,Lebanon,R&D,Analytical,16.0,2,59,0,2,4.0,3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055,1
6997,EID_8077,0,49.0,3,Springfield,IT,Directive,10.0,1,59,1,2,3.0,2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847,0
6998,EID_19597,0,47.0,3,Washington,Sales,Behavioral,24.0,1,21,1,5,8.0,0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162,1
6999,EID_1640,0,58.0,3,Franklin,IT,Directive,22.0,2,74,0,4,5.0,2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910,1

In [33]:
train_df['hometown']=train_df['hometown'].astype('category')
train_df['unit']=train_df['unit'].astype('category')
train_df['decision_skill_possess']=train_df['decision_skill_possess'].astype('category')

In [34]:
# Droping employee_id from train_df & test_df because it will cause problems when we use get_dummies

train_df.drop(['employee_id'], axis=1,inplace=True)
test_df.drop(['employee_id'], axis=1, inplace=True)

In [35]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 23 columns):
gender                       7000 non-null int64
age                          7000 non-null float64
education_level              7000 non-null int64
hometown                     7000 non-null category
unit                         7000 non-null category
decision_skill_possess       7000 non-null category
time_of_service              7000 non-null float64
time_since_promotion         7000 non-null int64
growth_rate                  7000 non-null int64
travel_rate                  7000 non-null int64
post_level                   7000 non-null int64
pay_scale                    7000 non-null float64
compensation_and_benefits    7000 non-null int64
work_life_balance            7000 non-null float64
var1                         7000 non-null int64
var2                         7000 non-null float64
var3                         7000 non-null float64
var4                         7000 non-null float64
var5                         7000 non-null int64
var6                         7000 non-null int64
var7                         7000 non-null int64
attrition_rate               7000 non-null float64
married                      7000 non-null int64
dtypes: category(3), float64(8), int64(12)
memory usage: 1.1 MB

In [36]:
train_df=pd.get_dummies(train_df,drop_first=True)

In [37]:
test_df=pd.get_dummies(test_df,drop_first=True)

In [38]:
train_df

,gender,age,education_level,time_of_service,time_since_promotion,growth_rate,travel_rate,post_level,pay_scale,compensation_and_benefits,work_life_balance,var1,var2,var3,var4,var5,var6,var7,attrition_rate,married,hometown_Franklin,hometown_Lebanon,hometown_Springfield,hometown_Washington,unit_Human Resource Management,unit_IT,unit_Logistics,unit_Marketing,unit_Operarions,unit_Production,unit_Purchasing,unit_Quality,unit_R&D,unit_Sales,unit_Security,decision_skill_possess_Behavioral,decision_skill_possess_Conceptual,decision_skill_possess_Directive
0,0,42.0,4,4.0,4,33,1,1,7.0,2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,1,24.0,3,5.0,4,36,0,3,6.0,2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,58.0,3,27.0,3,51,0,2,8.0,2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
3,0,26.0,3,4.0,3,56,1,3,8.0,2,1.0,3,-1.8176,-0.4537,2.0,3,7,3,0.0668,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,31.0,1,5.0,4,62,1,3,2.0,3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0,23.0,5,4.0,1,20,1,2,6.0,3,3.0,1,0.7516,-0.4537,2.0,3,7,3,0.7839,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
6996,0,44.0,1,16.0,2,59,0,2,4.0,3,3.0,2,-0.1048,-2.7762,2.0,4,8,4,0.1055,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6997,0,49.0,3,10.0,1,59,1,2,3.0,2,4.0,2,-0.1048,-0.4537,2.0,4,8,3,0.7847,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
6998,0,47.0,3,24.0,1,21,1,5,8.0,0,2.0,4,0.7516,1.8688,2.0,3,6,3,0.4162,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0
6999,0,58.0,3,22.0,2,74,0,4,5.0,2,3.0,3,-0.1048,-1.6150,3.0,4,5,3,0.0910,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1

# ------------------------------------

# -----------------------------------------

# Since DF is all numerical... let us create x_train,x_test & y_train

In [39]:
x_train=train_df.drop('attrition_rate',axis=1).copy()
y_train=train_df['attrition_rate'].copy()
x_test=test_df.copy()

In [41]:
sub_test=pd.read_csv('Test.csv')

# Normalizing the data for better working
### normalizing did not improve the accuracy in this case... so let us not perform the same

from sklearn.preprocessing import normalize

x_train=normalize(x_train)
x_test=normalize(x_test)

# Standardization of the data
### normalizing did not improve the accuracy in this case... so let us not perform the same
#### Use any 1 from below as per requirement

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

# Below are Different Linear Regression Algorithms

In [42]:
'''Set a seed for reproducibility'''
seed = 43

'''Initialize all the regression models object we are interested in.'''
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.kernel_ridge import KernelRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor


'''We are interested in the following 14 regression models.
All initialized with default parameters except random_state and n_jobs.'''
linear = LinearRegression(n_jobs = -1)
lasso = Lasso(random_state = seed)
ridge = Ridge(random_state = seed)
kr = KernelRidge()
elnt = ElasticNet(random_state = seed)
dt = DecisionTreeRegressor(random_state = seed)
svm = SVR()
knn = KNeighborsRegressor(n_jobs = -1)
rf =  RandomForestRegressor(n_jobs = -1, random_state = seed)
et = ExtraTreesRegressor(n_jobs = -1, random_state = seed)
ab = AdaBoostRegressor(random_state = seed)
gb = GradientBoostingRegressor(random_state = seed)
xgb = XGBRegressor(random_state = seed, n_jobs = -1)
lgb = LGBMRegressor(random_state = seed, n_jobs = -1)

# Got the best results using LinearRegressor

In [43]:
from sklearn.linear_model import LinearRegression

linear = LinearRegression(n_jobs = -1)
linear.fit(x_train, y_train)
y_pred = linear.predict(x_test)
y_pred

array([0.21612741, 0.19472935, 0.1921012 , ..., 0.16645137, 0.15223512,
       0.18725052])

In [44]:
submissionDf=pd.DataFrame({'Employee_ID':sub_test['Employee_ID'],
                          'Attrition_rate':y_pred})

In [45]:
submissionDf.head(3)

  Employee_ID  Attrition_rate
0   EID_22713        0.216127
1    EID_9658        0.194729
2   EID_22203        0.192101

submissionDf.to_csv('C:/Users/Administrator/Desktop/Employee Attrition_Prediction/Submissions/Submission18_lgbReg.csv',index=False)

# The Submission was done on Hacker Earth which is not vailable anymore
# This Model got an accuracy of 81.261